html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color:white;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

h1,h2,h3{
    margin-left: 17.5%;
}

p{
    margin-left: 17.5%;
}

.navbar {
    background-color: rgb(241, 241, 241);
    padding: 10px;
    position: fixed;
    width: 15%;
    height: 100%;
    top: 0;
    box-sizing: border-box;
    border-right: 2.5px solid #939393; /* 右侧边框样式：5px 宽度，实线，蓝色 */
    border-radius: 5px;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column; /* 将子元素竖直排列 */
    align-items: flex-start; /* 可选: 调整子元素的对齐方式 */
    max-width: 100%;
    margin: 5px;
    padding: 5px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    position: relative;

}
.container::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 3px solid #28a745; /* 内边框颜色 */
    border-radius: 5px; /* 圆角半径 */
    z-index: -1; /* 放置在内容后面 */
}
.container a{
    color: #3b3b3b;
    padding: 0 0 10px 0;
}
